---
layout: homepage
desc: Official website for RubyConf MY
image: http://rubyconf.my/2016/assets/img/logo.png
---

<!--PRELOADER-->
<div class="preloader">
  <div class="status"></div>
</div>
<!--/PRELOADER-->

{% include header.html %}

<!--HOME-->
<section id="home" class="autoheight">
  <div class="home-bg"></div>
  <div class="col-lg-12 landing-text-pos align-center">
    <h1 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="1s">RUBYCONF MY 2017</h1>
    <p><br /></p>
    <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">Auditorium, MaGIC @ Cyberjaya <br /> Selangor, Malaysia</p>
    <p><br /></p>
    <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="2s">12 - 13 October 2017</p>
    <a class="register-btn btn-effect wow animated fadeIn" data-wow-duration="1s" data-wow-delay="2.5s" data-scroll href="#">Register Now</a>
  </div>
</section>
<!--/HOME-->

{% include about.html %}
{% include speakers.html %}
{% include code-of-conduct.html %}
{% include location.html %}


<div class="animate-canvas"><canvas id="demo-canvas"></canvas></div>
