<section class="about text-center section-padding" id="about">
  <div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-8 align-center about">
      <h1 class="arrow">About the Event</h1>
      <hr>
      <p>
        RubyConf MY is a <span class="highlight">2 days</span>, <span class="highlight">single-tracked</span> technical conference for the Ruby programming language.
        The event features <span class="highlight">20+ speakers</span> and <span class="highlight">300 #rubyfriends</span> from across the globe.
      </p>
    </div>
  </div>
  </div>
</section>
