<section class="text-center section-padding code-of-conduct-wrap" id="code-of-conduct">
  <div class="container">
  <div class="row">
    <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1 class="arrow">Code of Conduct</h1><hr>
      <p>
        The Ruby community has a strong legacy of being respectful and nice (because <a href="https://en.wikipedia.org/wiki/Yukihiro_Matsumoto" target="_blank">MINASWAN</a>).
        As part of this global community and responsible individual in general, we expect all attendees to respect each other, and themselves, during all events organized by RubyConf MY.
      </p>
      <p>
        The RubyConf MY team pledges to provide a safe, welcoming and harassment-free environment for all participants.
        By participating in our events, all attendees (audience, speakers, sponsors, organizing partners, staff, volunteers, etc) must agree and adhere to the conference Code of Conduct at all times.
      </p>
      <p>
        We stand strongly against any and all sorts of abusive and harassing behaviour, be it physical, verbal or emotional.
        We will not hesitate to take action, legal or otherwise, against anyone found guilty of such act.
      </p>
      <p>
        We expect full cooperation from everybody participanting in our events.
        Do not hesitate to contact us at <a href="mailto:abuse@rubyconf.my" target="_blank">abuse@rubyconf.my</a> or get in touch with our ground staffs should you experience or witness any harassments over the course of our events.
      </p>
      <p>
        Please read and understand the Code of Conduct before continuing further.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="nl-submit-wrap">
          <button class="nl-submit btn-effect" onclick="window.open('./code-of-conduct', '_self')">Read the Code of Conduct</button>
        </div>
      </div>
    </div>

  </div>
</section>
