<!--SCRIPTS-->
<script type="text/javascript" src="assets/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui-1.10.4.min.js"></script>

<!--GOOGLE MAPS-->
<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
<script type="text/javascript" src="assets/js/google-maps.js"></script>

<!--VIMEO VIDEO-->
<script type="text/javascript" src="assets/js/venobox.js"></script>

<!--3D GALLERY-->
<script type="text/javascript" src="assets/js/classie.grid.gallery.js"></script>
<script type="text/javascript" src="assets/js/modernizr.gridgallery.js"></script>
<script type="text/javascript" src="assets/js/cbpGridGallery.js"></script>

<script type="text/javascript" src="assets/js/classie.js" ></script>
<script type="text/javascript" src="assets/js/modalEffects.js" ></script>

<script type="text/javascript" src="assets/js/nlform.js" ></script>

<script type="text/javascript" src="assets/js/bootstrap.min.js" ></script>

<!-- TEAM SLIDER  -->
<script type="text/javascript" src="assets/js/jquery.flexslider.js" ></script>

<!-- SCHEDULE TABS  -->
<script type="text/javascript" src="assets/js/modernizr.js" ></script>
<script type="text/javascript" src="assets/js/cbpFWTabs.js" ></script>

<!--SPONSOR SLIDER-->
<script type="text/javascript" src="assets/js/jssor.core.js"></script>
<script type="text/javascript" src="assets/js/jssor.utils.js"></script>
<script type="text/javascript" src="assets/js/jssor.slider.js"></script>


<!-- SMOOTH SCROLL  -->
<script type="text/javascript" src="assets/js/smooth-scroll.js"></script>

<!-- NICE SCROLL  -->
<script type="text/javascript" src="assets/js/jquery.nicescroll.js"></script>

<!-- SUBSCRIPTION FORM  -->
<script type="text/javascript" src="assets/js/notifyMe.js"></script>

<script type="text/javascript" src="assets/js/jquery.placeholder.js"></script>

<!-- ANIMATION  -->
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<!--triangle-->
<script type="text/javascript" src="assets/js/TweenLite.min.js"></script>
<script type="text/javascript" src="assets/js/EasePack.min.js"></script>
<script type="text/javascript" src="assets/js/rAF.js"></script>
<script type="text/javascript" src="assets/js/canvas.js"></script>
<!-- INITIALIZATION  -->
<script type="text/javascript" src="assets/js/init.js"></script>
