<!--HEADER-->
<div class="header header-hide scroll-header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" data-scroll href="/"><img src="/assets/img/logo.png" alt="logo"/></a>
       </div>
       <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a data-scroll href="/#speakers">Speakers</a></li>
        <li><a data-scroll href="/#schedule">Schedule</a></li>
        <li><a data-scroll href="/call-for-proposals">CFP</a></li>
        <li><a data-scroll href="/code-of-conduct">Code of Conduct</a></li>
        <li><a data-scroll href="/#sponsors">Sponsors</a></li>
        <li><a data-scroll href="/#location">Location</a></li>
        <li class="hidden"><a href="/#home">Home</a></li>
        </ul>
       </div>
    </nav>
  </div>
</div>
<!--/HEADER-->
