<!--SPEAKERS-->
<section class="schedule text-center section-padding" id="responsive">
  <div class="container align-center">
    <div class="row">
      <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
        <h1 class="arrow">Schedule</h1><hr>
      </div>
    </div>
  </div>

  <div class="container-schedule container wow animated fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">
    <div id="tabs-ui" class="tabs">
      <nav>
        <ul>
          <li><a href="#section-1"><span>Day1</span></a></li>
          <li><a href="#section-2"><span>Day2</span></a></li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-1">
          <div class="container">
            <div class="accordion">
              <div class="day">October 12, 2017</div>
              <div class="item clearfix">
                <div class="heading clearfix">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:30am - 11:30am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Welcome speech and Overview<br/>
                    <span class="name">Andrew Yang</span>
                  </div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">11:30am - 1:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">The Standardistas are lecturers in interactive design<br/><span class="name">Andrew Yang - </span><span class="speaker-designaition">CEO, Microsoft</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">1:00pm - 2:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">Catered Lunch<br/><span class="name">Sponsered </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">3:00pm - 4:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">Proin gravida nibh vel velit auctor aliquet<br/><span class="name">Mary Doe - </span><span class="speaker-designaition">Lead Designer, Microsoft</span></div>
                </div>
              </div>
            </div>
          </div><!--CONTAINER ENDS-->
        </section>
        <section id="section-2">
          <div class="container">
            <div class="accordion">
              <div class="day">October 13, 2017</div>
              <div class="item clearfix">
                <div class="heading clearfix">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:30am - 11:30am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">Overview - Nisi elit consequat<br/><span class="name">Andrew Yang - </span><span class="speaker-designaition">CEO, Microsoft</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">11:30am - 1:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">Aenean sollicitudin quis bibendum auctor<br/><span class="name">Andrew Yang - </span><span class="speaker-designaition">CEO, Microsoft</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">1:00pm - 2:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">Catered Lunch<br/><span class="name">Sponsered </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">3:00pm - 4:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">Sagittis sem nibh id elit<br/><span class="name">Mary Doe - </span><span class="speaker-designaition">Lead Designer, Microsoft</span></div>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div><!-- /content -->
    </div><!-- /tabs -->
  </div>

</section>
