<!--SPEAKERS-->
<section class="schedule text-center section-padding" id="schedule">
  <div class="container align-center">
    <div class="row">
      <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
        <h1 class="arrow">Schedule</h1><hr>
      </div>
    </div>
  </div>

  <div class="container-schedule container wow animated fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">
    <div id="tabs-ui" class="tabs">
      <nav>
        <ul>
          <li><a href="#section-1"><span>Day1</span></a></li>
          <li><a href="#section-2"><span>Day2</span></a></li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-1">
          <div class="container">
            <div class="accordion">
              <div class="day">October 12, 2017</div>
              <div class="item clearfix">
                <div class="heading clearfix">
                  <div class="time col-md-3 col-sm-12 col-xs-12">8:00am - 9:00am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Registration<br/>
                  </div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:00am - 9:10am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Welcome Message</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:10am - 9:55am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/akira.png)"></div>
                    Keynote<br/><span class="name">Akira Matsuda</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:55am - 10:30am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/alex.jpg)"></div>
                    Sustainable Architecture<br/><span class="name">Alex Topalov</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">10:30am - 10:45am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Tea Break</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">10:45am - 11:20am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/aja.png)"></div>
                    Syntax Isn't Everything: NLP for Rubyists<br/><span class="name">Aja Hammerly</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">11:20am - 11:55am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/ilake.jpg)"></div>
                    500x memory reduction in Rails with Postgres Schemas and Apartment<br/><span class="name">Ilake Chang</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">12:00pm - 13:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Catered Lunch</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">13:30pm - 14:05pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/vlad.jpg)"></div>
                    AnyCable – Universal Action Cable<br/><span class="name">Vladimir Dementyev </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">14:05pm - 14:40pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/tim.png)"></div>
                    Functional architecture for the practical Rubyist<br/><span class="name">Tim Riley</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">14:40pm - 15:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Tea Break</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">15:00pm - 15:35pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/kevin.png)"></div>
                    Anatomy of an Active Record Migration<br/><span class="name">Kevin Litchfield</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">15:35pm - 16:10pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/elisha.jpg)"></div>
                    How We Built TechLadies<br/><span class="name">Elisha Tan</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">16:10pm - 16:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Tea Break</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">16:30pm - 17:05pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/nick.jpg)"></div>
                    UNIX For Rubyists<br/><span class="name">Nick Marden</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">17:05pm - 17:40pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/dilum.jpg)"></div>
                    Parallel Processing with Ruby<br/><span class="name">Dilum Navanjana</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">17:40pm - 17:45pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Closing</span></div>
                </div>
              </div>
            </div>
          </div><!--CONTAINER ENDS-->
        </section>

        <section id="section-2">
          <div class="container">
            <div class="accordion">
              <div class="day">October 13, 2017</div>
              <div class="item clearfix">
                <div class="heading clearfix">
                  <div class="time col-md-3 col-sm-12 col-xs-12">8:00am - 9:00am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Registration</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:00am - 9:15am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Welcome Message</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:15am - 9:50am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/saron.jpg)"></div>
                    Lucky<br/><span class="name">Saron Yitbarek </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">9:50am - 10:25am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/gooi.jpg)"></div>
                    BDD with Cucumber<br/><span class="name">Gooi Liang Zheng </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">10:25am - 10:45am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Tea Break</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">10:45am - 11:20am</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/junqi.jpg)"></div>
                    All I'd Wanted to Know About Ruby's Object Model Starting Out...And Mooar!!!<br/><span class="name">Tan Jun Qi </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">11:20am - 12:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Panel Session with Ruby Core Team
                  </div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">12:00pm - 14:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Catered Lunch</div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">14:00pm - 14:15pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/sylvia_jany.jpg)"></div>
                    Lightning - Best Practices Of SVG on Ruby on Rails<br/><span class="name">Sylvia Choong & Jany Mai </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">14:15pm - 14:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/kyle.jpg)"></div>
                    Lightning - Civic Coding in Ruby<br/><span class="name">Kyle Dolezal </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">14:30pm - 14:45pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/anton.png)"></div>
                    Lightning - Multiple backend DBs in a Rails Application<br/><span class="name">Anton Lvov </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">14:45pm - 15:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/jinny.png)"></div>
                    Lightning - One Blind Weekend<br/><span class="name">Jinny Wong </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">15:00pm - 15:15pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/michael.jpg)"></div>
                    Lightning - What About Ruby on Rails? ... From A PHP Guy<br/><span class="name">Michael Cheng </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">15:15pm - 15:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/gabrielle.jpg)"></div>
                    Lightning - Programming Like An Athlete<br/><span class="name">Gabrielle Ong Hui Min </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">15:30pm - 16:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Tea Break</span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">16:00pm - 16:35pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/daniel.jpg)"></div>
                    Chasing Pandas<br/><span class="name">Daniel Baark </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">16:35pm - 17:20pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    <div class="avatar" style="background-image:url(/assets/img/speakers/aaron.png)"></div>
                    Keynote<br/><span class="name">Aaron Patterson </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">17:20pm - 17:30pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Closing </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">18:30pm - 22:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    After Party by GitHub @ Ballroom Chamber, Dashbox Hotel </span></div>
                </div>
              </div>

              <div class="item clearfix">
                <div class="heading">
                  <div class="time col-md-3 col-sm-12 col-xs-12">Starts @ 21:00pm</div>
                  <div class="e-title col-md-9 col-sm-12 col-xs-12">
                    Pubcrowl by UMAI @ Changkat Bukit Bintang </span></div>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div><!-- /content -->
    </div><!-- /tabs -->
  </div>

</section>
